<div class="container">
  <!-- <pre>
        {{yourAngularSchemaFormLayout | json}}
      </pre> -->
  <div class="row">
    <div class="col-sm-12">
      <h1>Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 ">
      <!-- <div
                cdkDropList
                #nodesList="cdkDropList"
                [cdkDropListData]="nodes"
                [cdkDropListConnectedTo]="[selectedWidgetsList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)"> --><!--cdkDrag-->
      <div class="example-box" *ngFor="let item of nodes" (click)="showNode(item)">{{ item.name }}</div>
      <!-- </div> -->
    </div>
    <div class="col-sm-9 border" *ngIf="!!selectedNode">
      <h1 class="text-center">{{ selectedNode.name }}</h1>
      <div
        *ngIf="!!selectedNode"
        cdkDropList
        #dashboardsList="cdkDropList"
        [cdkDropListData]="dashboards"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <!--[cdkDropListConnectedTo]="[widgetsList]"-->

        <div class="example-box widget" *ngFor="let item of selectedNode.widget" cdkDrag>
          <div class="card">
            <div class="card-header">
              {{ item.name }}
            </div>

            <div class="card-body">
              <json-schema-form [schema]="item.fields" framework="bootstrap-3" [options]="jsonFormOptions">
              </json-schema-form>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
