<div class="container">
  <!-- <pre>
        {{yourAngularSchemaFormLayout | json}}
      </pre> -->
  <div class="row">
    <div class="col-sm-12">
      <h1>Boards</h1>
      <!-- <input type="button" value="Save Board" (click)="saveBoard()" /> -->
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 ">
      <h4>Widgets</h4>
      <div
        cdkDropList
        #widgetsList="cdkDropList"
        [cdkDropListData]="widgets"
        [cdkDropListConnectedTo]="[selectedWidgetsList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" [cdkDragData]="item" *ngFor="let item of widgets" cdkDrag>{{ item?.name }}</div>
      </div>
    </div>
    <div class="col-sm-9 border">
      <div class="row">
        <div class="col-sm-9">
          <input
            type="text"
            name="boardName"
            [(ngModel)]="boardName"
            class="form-control field-name"
            placeholder="Enter Board Name"
          />
        </div>
        <div class="col-sm-3 save-board-button">
          <button type="button" class="btn btn-primary" (click)="saveBoard()">Save Board</button>
        </div>
      </div>

      <div
        cdkDropList
        #selectedWidgetsList="cdkDropList"
        [cdkDropListData]="selectedWidgets"
        [cdkDropListConnectedTo]="[widgetsList]"
        class="example-list dotted-border"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box widget-box" *ngFor="let item of selectedWidgets">
          <div class="card">
            <div class="card-body">
              <!--cdkDrag-->
              <div class="row form-group">
                <div class="col-md-12">
                  <div class="float-left">{{ item.name }}</div>
                  <div class="float-right" (click)="removeItem(item)">
                    <i class="fas fa-trash-alt font-size-20"></i>
                  </div>
                </div>
              </div>

              <!-- <pre>
              {{item.fields | json}}
          </pre> -->

              <json-schema-form [schema]="item.fields" framework="bootstrap-3" [options]="jsonFormOptions">
              </json-schema-form>
            </div>
          </div>
        </div>
        <div class="drag-area">-- Drag Widgets Here --</div>
      </div>
    </div>
  </div>
</div>
