.field-name {
  margin: 2%;
}

.save-button {
  margin: 8%;
}

.card {
  margin: 1%;
}

.save-board-button {
  padding: 12px;
}

.drag-area {
  text-align: center;
  padding: 5%;
}

.dotted-border {
  border: dotted;
  padding: 10px;
}
