<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Create Widgets</h1>
      <input type="button" value="Save Widget" (click)="saveWidget()" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 border">
      <div *ngIf="!!JsonSchema">
        <div cdkDropList #todoList="cdkDropList" class="example-list" [cdkDropListConnectedTo]="[doneList]">
          <div *ngFor="let item of JsonSchema.properties | keyvalue">
            <i
              *ngIf="!!item.value.properties"
              class="fas"
              [ngClass]="!!item.expand ? 'fa-angle-down' : 'fa-angle-up'"
              (click)="showTree(item)"
            ></i>
            <span [cdkDragData]="item" cdkDrag>
              {{ item.key }}
            </span>
            <div [hidden]="item.expand" *ngFor="let element of item.value | keyvalue">
              <div *ngIf="element.key === 'properties'">
                <div *ngFor="let elem of element.value | keyvalue">
                  <span [cdkDragData]="elem" cdkDrag *ngIf="elem.key != 'type' || elem.key != 'items'">
                    -- {{ elem.key }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 border">
      <input
        type="text"
        name="widgetName"
        [(ngModel)]="widgetName"
        class="form-control widget-name"
        placeholder="Enter Widget Name"
      />

      <div
        b
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list dotted-border"
        (cdkDropListDropped)="drop($event)"
      >
        <json-schema-form
          [schema]="CustomJsonSchema"
          [form]="yourAngularSchemaFormLayout"
          framework="bootstrap-3"
          (onSubmit)="onFormSubmit($event)"
          [widgets]="widgets"
          ><!--[(model)]="yourData"-->
        </json-schema-form>
      </div>
    </div>
  </div>
</div>
